html,
body {
  height: 100%;
  font-size: 1rem;
  font-family: 'Varela Round', sans-serif;

}

#gradient {
  background: rgb(0, 255, 255);
  background: linear-gradient(187deg, rgba(0, 255, 255, 1) 0%, rgba(100, 149, 237, 1) 47%);
}

.page-header {
  margin-top: 4rem;
  font-size: 1.25rem;
  color: white;

}

.feature {
  color: #fff
}

.feature ul {
  padding-left: 2rem;
  list-style-type: none;
}

.feature ul li {
  direction: rtl;
  padding-left: 2rem;
  background-repeat: no-repeat;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

footer {
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;

}

a {
  color: white;
  text-decoration: none;
}

.gallery {
  background-color: whitesmoke;
}

.gallery img {
  border-radius: 5%;
  size: 50%;
}